@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.PackagesList {
  padding-top: $header-height;

  .PackagesList_section_title {
    margin: 40px 10px 10px;
    font-size: 24px;
    font-weight: 500;
  }

  .PackagesList_cards_container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .PackagesList_card {
      flex: 1 0 0;
    }
  }
}