@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.PackagesList {
  padding: 16px;
  padding-top: $header-height;

  .PackagesList_section_title {
    margin: 40px 0 10px;
    font-size: 24px;
    font-weight: 500;
  }

  .PackagesList_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;

    .PackagesList_card {
      flex: 1 0 0;
    }
  }
}