@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.OptionsSection {

  .OptionsSection_title {
    padding-top: 32px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  .OptionsSection_row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 0 8px;
  }
}