.Checkbox {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-right: 22px;

  img {
    width: 13px;
    height: 13px;
    padding-left: 1px;
    padding-bottom: 2px;
  }
}