@import '../../../styles/colors.scss';

.RadioButton {
  border: 1px solid $primary1;
  box-sizing: border-box;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;

  .RadioButton_inner_circle {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background-color: $primary1;
    // padding: 2px;
  }
}